<section class="bg-success py-5">
    <div class="container">
        <div class="row align-items-center py-5">
            <div class="col-md-8 text-white">
                <h1>About Us</h1>
                <p>We are a small team of enthusiastic students embarking on our first full-stack project with Angular
                    and Spring. This website represents our journey into the world of web development, where we are
                    learning and growing together. <br /> <br />

                    While the visual aspects of the site might not be our primary focus at the moment, we are
                    passionately dedicating our efforts to building a robust back-end that powers the functionality and
                    interactivity you experience here. <br /> <br />

                    This project is not just a website for us; it's a learning adventure, a collaborative effort, and a
                    testament to our commitment to mastering the intricacies of full-stack development. Join us on this
                    exciting journey, and thank you for being a part of our story!</p>
            </div>
            <div class="col-md-4">
                <img src="../../assets/images/img-about-us.png" alt="" class="image-size">
            </div>
        </div>
    </div>
</section>

<section class="bg-light py-5">
    <div class="container my-4">
        <div class="row text-center">
            <div class="col-lg-6 m-auto">
                <h1 class="h1">Our Group</h1>
                <!-- TODO -->
                <p>List Student Names</p>
            </div>
        </div>
        <div class="m-auto col-lg-9">
            <div class="row d-flex flex-row">
                <div class="col">
                    <div class="pt-2 pt-md-0">
                        <div class="row">
                            <div class="col-3 p-md-5">
                                <a href=""><img class="img-fluid" src="./img/brand_01.png" alt=""></a>
                            </div>
                            <div class="col-3 p-md-5">
                                <a href=""><img class="img-fluid" src="./img/brand_02.png" alt=""></a>
                            </div>
                            <div class="col-3 p-md-5">
                                <a href=""><img class="img-fluid" src="./img/brand_03.png" alt=""></a>
                            </div>
                            <div class="col-3 p-md-5">
                                <a href=""><img class="img-fluid" src="./img/brand_04.png" alt=""></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>